* {
  font-family: "Nanum Gothic", sans-serif;
}

.hello-intro * {
  font-size: small;
  margin-bottom: 10px;
  margin-left: 10px;
}

.hello-intro {
  background-color: aliceblue;
}

#hello-top {
  font-size: xx-large;
  font-weight: bold;
}

#card-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#container {
  margin: 10px auto;
  max-width: 1000px;
}

.card-body {
  font-size: small;
  padding-bottom: 0px;
}

.card-title {
  font-weight: bold;
  font-size: medium;
}

.card-comment {
  color: darkblue;
}

#form-box {
  font-size: x-small;
  font-weight: bold;
  width: 450px;
  padding: 40px;

  border-style: solid;
  border-width: 4px;
  border-color: black;
  border-radius: 8px;

  margin: 20px auto;
}

#form-box > button {
  font-size: x-small;
}
